$white-c: #ffffff;
$light-green-background: rgba(209, 250, 229, 1);
$dark-green-c: #047857;
$white-background: rgba(255, 255, 255, 0.3);
$dark-blue-c: #1b1c57;
$gradient-blue-c: #82bbff;
$gradient-green-c: #b9ff82;
$gray-border-c: #e0e3eb;
$gray-c: #626687;
$green-for-buttons-c: #10b981;
$partherships-c: #888b97;
$light-blue-c: #68799f;
$dark-blue-button-c: #3c4563;
$building-title-c: #0e1735;
$orange-c: #ef4444;
$peach-c: #fee2e2;
$yellow-c: #f59e0b;
$mint-c: #d1fae5;
$light-gray-c: #f0f3fd;
